:root {
    color: var(--channels-default);
    /* Variables */
    --guildbar-width: 56px;
    --sidebar-width: 200px;
    --header-height: 40px;
  }


/* Settings */
.sidebarRegion-1VBisG {
    flex: 0;
  }
  
  .contentColumn-1C7as6,
  .customColumn-2n-oKU {
    flex-grow: 1;
    max-width: 100%;
  }
  
  .customScroller-m1-jZn > div,
  .sidebarScrollable-2mW9Ls + .content-2ssVKB {
    max-width: unset;
  }
  
  .bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
  .bd-addon-list .bd-addon-card {
    margin-bottom: 10px;
  }
